@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

.navbar {
    display: flex;
    background-color: rgba(229, 229, 229, 0.4);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 140px;
    align-items: baseline;
}
.navbar h1{
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left : 180px;
    color: #1E1E1E;
}
.navbar ul{
    float: right;
    margin-right : 180px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: #1E1E1E;


}

.logo {
    margin-left: 150px;

}


